#root {
    width: 100vw;
}

#app {
    width: 100%;
}

.page {
    min-height: 100vh;
}

.profile_picture {
    width: 30rem;
    border-radius: 50%;
    border: 2px solid var(--light-green);
    box-shadow: 0 0 10px 0 var(--dark-green);
    transition: transform 0.3s;
}

.profile_picture:hover {
    transform: scale(1.1);
}

.highlight-text {
    color: var(--light-green);
}

.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

a.nav {
    text-decoration: none;
    color: var(--light-green);

    margin: 5px 10px;
    padding: 5px 10px;

    transition:
        color 0.3s,
        box-shadow 0.1s ease-in-out;
}

a.nav:hover {
    color: var(--dark-green);
    box-shadow: 1px 3px 0 -2px var(--dark-green);
}

.margin-10 * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-sides-10 * {
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    width: 65px;
    height: 65px;
    fill: light-dark(var(--dark-gray), var(--very-light-green));
}

.large {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1.1rem;
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h2 {
    padding: 10px 20px;
    color: var(--light-green);
}

.content-container {
    margin-left: 7rem;
    margin-right: 7rem;
}

.content {
    margin-top: 2rem;
}

.content * {
    margin: 10px;
}
