#root {
    width: 100vw;
}

#app {
    width: 100%;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
    transition: color 0.7s;
    transition: background-color 0.3s;
    transition: border-color 0.3s;
    transition: box-shadow 0.3s;

    -webkit-scroll-behavior: smooth;
    -webkit-transition: color 0.7s;
    -webkit-transition: background-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-transition: box-shadow 0.3s;
}

.page {
    min-height: 100vh;
    min-width: 100vw;
}

.profile_picture {
    width: 30rem;
    border-radius: 50%;
    border: 2px solid var(--light-green);
    box-shadow: 0 0 10px 0 var(--dark-green);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.profile_picture:hover {
    transform: scale(1.05) rotate(5deg);
}

.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

a.nav {
    text-decoration: none;
    color: light-dark(var(--dark-gray), var(--light-green));

    margin: 5px 10px;
    padding: 5px 10px;

    transition:
        color 0.3s,
        box-shadow 0.1s ease-in-out;

    -webkit-transition:
        color 0.3s,
        box-shadow 0.1s ease-in-out;
}

a.nav:hover {
    color: var(--dark-green);
    box-shadow: 1px 3px 0 -2px var(--dark-green);
}

.margin-10 * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-sides-10 * {
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    transition: fill 0.1s;
    -webkit-transition: fill 0.1s;
    width: 65px;
    height: 65px;
    fill: light-dark(var(--dark-gray), var(--very-light-green));
}

.icon:hover {
    fill: light-dark(var(--medium-green), var(--medium-green));
}

.large {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1.1rem;
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h2 {
    padding: 10px 20px;
}

.content-container {
    max-width: 100%;
    min-width: 100%;
    min-height: 90vh;
}

.content {
    margin-top: 2rem;
}

.content * {
    margin: 10px;
}

p,
span,
h1 {
    color: light-dark(var(--dark-gray), var(--very-light-green));
}

.about-content p {
    margin-left: 7rem;
    margin-right: 7rem;
}

.skills {
    width: fit-content;
    margin-left: 7rem;
    margin-right: 7rem;
}

.skill-item {
    background-color: light-dark(var(--medium-green), var(--medium-gray));

    margin: 10px;
    padding: 10px;
    min-width: 15%;
    max-width: 20%;
    min-height: 110px;

    border-radius: 5px;

    text-align: center;
    text-wrap: wrap;
}

.icon-img {
    min-width: 50px;
    width: 50px;
}

.skill-item:hover {
    background-color: light-dark(var(--very-light-green), var(--dark-gray));
}

.contact-item {
    max-width: 65%;
    max-height: 65%;
    border-radius: 15px;
    padding: 1rem;

    background-color: light-dark(var(--medium-green), var(--medium-gray));
}

.contact-item-header {
    margin-bottom: 1rem;
}

.form {
    width: 100%;
    height: 80%;
    background-color: light-dark(var(--medium-green), var(--medium-gray));

    display: grid;
    grid-template-rows: 10% 80% 10%;

    gap: 10px;
}

input,
textarea {
    background-color: light-dark(var(--very-light-green), var(--dark-gray));
    border: 1px solid light-dark(var(--dark-gray), var(--very-light-green));
    border-radius: 10px;

    width: 100%;
    height: 90%;

    resize: none;
}

button {
    background-color: light-dark(var(--medium-green), var(--medium-gray));
    color: light-dark(var(--dark-gray), var(--very-light-green));
    border: none;

    border-radius: 10px;
}

button:hover {
    background-color: light-dark(var(--dark-green), var(--dark-gray));
}

.contact {
    min-height: 90vh;
}

.contact-icons {
    max-height: 80%;
}

.contact-item span {
    width: 100%;
    height: 30%;
}

.contact-icons .icon:hover {
    fill: light-dark(var(--very-light-green), var(--medium-green));
}

.highlight-text {
    color: light-dark(var(--medium-green), var(--light-green));
}

.highlight-text-dark {
    color: light-dark(var(--dark-gray), var(--dark-green));
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    height: 100%;
}

.toggle {
    padding: 10px;
}

.toggle:nth-child(2) {
    grid-column: 3;
}

.toggle-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.arrow-top .icon {
    width: 30px;
    height: 30px;
}

.projects {
    margin: 2rem 0;
    width: 100%;
}

.project-item {
    min-height: fit-content;
    width: 30%;
    background-color: light-dark(var(--medium-green), var(--medium-gray));
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    text-align: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.project-item img {
    min-width: 95%;
    max-width: 95%;
    max-height: 90%;
}

.project-item h3 {
    margin: 1rem 0;
}

.project-links {
    margin-top: 1rem;

    border-radius: 10px;
    height: 4rem;
}

.project-links a {
    text-decoration: none;
    color: light-dark(var(--dark-gray), var(--very-light-green));
    background-color: light-dark(var(--very-light-green), var(--dark-gray));
    border-radius: 10px;

    margin: 0 0.7rem;

    transition:
        color 0.3s,
        background-color 0.3s;

    -webkit-transition:
        color 0.3s,
        background-color 0.3s;
}

.project-links a:hover {
    color: light-dark(var(--dark-gray), var(--very-light-green));
    background-color: color-mix(
        in oklab,
        light-dark(var(--dark-green), var(--light-green)) 32%,
        light-dark(var(--light-gray), var(--dark-gray)) 72%
    );
}

.fade-in {
    animation: fade-in 0.7s;
    -webkit-animation: fade-in 0.7s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        position: relative;
        top: 5rem;
        left: 5rem;
    }
    to {
        opacity: 100;
        position: relative;
        top: 0;
        left: 0;
    }
}
@-webkit-keyframes fade-in {
    from {
        -webkit-opacity: 0;
        -webkit-position: relative;
        -webkit-top: 5rem;
        -webkit-left: 5rem;
    }
    to {
        -webkit-opacity: 100;
        -webkit-position: relative;
        -webkit-top: 0;
        -webkit-left: 0;
    }
}

@media (max-height: 900px) {
    .flex-start {
        min-height: fit-content;
    }
    .flex-center {
        min-height: fit-content;
    }
    .form {
        display: flex;
        flex-direction: column;
        min-height: fit-content;
    }
    .content-container {
        min-height: fit-content;
    }
    .contact-item {
        flex-wrap: nowrap;
        max-width: 90%;
        max-height: fit-content;
        min-height: fit-content;
    }
    input,
    textarea {
        min-height: 50px;
    }
}

@media (max-width: 1100px) {
    .project-item {
        width: 45%;
    }
}

@media (max-width: 1024px) {
    .profile_picture {
        width: 20rem;
    }
}

@media (max-width: 868px) {
    .projects.grid-two {
        grid-template-columns: 1fr;
    }
    .contact.grid-two {
        grid-template-columns: 1fr;
    }

    .skill-item {
        min-width: 30%;
        max-width: 30%;
        font-size: 0.8rem;
    }

    .profile_picture {
        width: 15rem;
    }

    .about-content p {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .skills {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .contact-item {
        max-height: 90%;
    }

    .contact-item span {
        width: 100%;
        height: 20%;
    }

    .contact-icons {
        max-height: 60%;
    }

    .contact-icons .icon {
        width: 50px;
        height: 50px;
    }

    .projects {
        margin: 1rem 0;
    }

    .project-item {
        width: 45%;
    }

    .project-item img {
        min-width: 90%;
        max-width: 90%;
        max-height: 80%;
    }

    .project-links {
        height: 3rem;
    }

    .project-links a {
        margin: 0 0.5rem;
    }
}

@media (max-width: 668px) {
    .grid-two {
        grid-template-columns: 1fr;
    }

    .profile_picture {
        width: 10rem;
    }

    .home-content {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    .about-content p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .skills {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .small {
        font-size: 0.8rem;
    }

    .medium {
        font-size: 1.2rem;
    }

    .large {
        font-size: 1.8rem;
    }

    .contact-item {
        max-height: 80%;
    }

    .contact-item span {
        width: 100%;
        height: 30%;
        font-size: 0.8rem;
    }

    .contact-icons {
        max-height: 50%;
    }

    .contact-icons .icon {
        width: 40px;
        height: 40px;
    }

    .projects {
        margin: 0.5rem 0;
    }

    .project-item {
        width: 90%;
    }

    .project-item img {
        min-width: 85%;
        max-width: 85%;
        max-height: 70%;
    }

    .project-links {
        height: 2rem;
    }

    .project-links a {
        margin: 0 0.3rem;
    }
}
