#root {
    width: 100vw;
}

#app {
    width: 100%;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

.page {
    min-height: 100vh;
}

.profile_picture {
    width: 30rem;
    border-radius: 50%;
    border: 2px solid var(--light-green);
    box-shadow: 0 0 10px 0 var(--dark-green);
    transition: transform 0.3s;
}

.profile_picture:hover {
    transform: scale(1.1);
}

.highlight-text {
    color: light-dark(var(--medium-green), var(--light-green));
}

.highlight-text-dark {
    color: light-dark(var(--dark-gray), var(--medium-green));
}

.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

a.nav {
    text-decoration: none;
    color: light-dark(var(--dark-gray), var(--light-green));

    margin: 5px 10px;
    padding: 5px 10px;

    transition:
        color 0.3s,
        box-shadow 0.1s ease-in-out;
}

a.nav:hover {
    color: var(--dark-green);
    box-shadow: 1px 3px 0 -2px var(--dark-green);
}

.margin-10 * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-sides-10 * {
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    width: 65px;
    height: 65px;
    fill: light-dark(var(--dark-gray), var(--very-light-green));
    transition: fill 0.3s;
}

.icon:hover {
    fill: light-dark(var(--medium-green), var(--medium-green));
}

.large {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1.1rem;
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h2 {
    padding: 10px 20px;
    color: var(--light-green);
}

.content-container {
    max-width: 100%;
    min-width: 100%;
}

.content {
    margin-top: 2rem;
}

.content * {
    margin: 10px;
}

.about-content p {
    margin-left: 7rem;
    margin-right: 7rem;
}

.skill-item {
    background-color: light-dark(var(--very-light-green), var(--medium-gray));

    margin: 10px;
    padding: 10px;
    min-width: 15%;

    border-radius: 5px;
    transition: background-color 0.3s;
}

.icon-img {
    min-width: 50px;
    width: 50px;
}

.skill-item:hover {
    background-color: light-dark(var(--medium-green), var(--dark-gray));
}

.contact-item {
    min-width: 75%;
    border-radius: 15px;
    padding: 10px;

    min-height: 40vh;
}

.form {
    background-color: light-dark(var(--medium-green), var(--medium-gray));
}

.width-100 {
    width: 100%;
}

input {
    min-height: 2rem;
    background-color: light-dark(var(--very-light-green), var(--dark-gray));
    border: 1px solid light-dark(var(--dark-gray), var(--very-light-green));
    border-radius: 10px;
    width: 90%;
    margin: 10px 0;

    padding: 5px;
}

.message {
    min-height: 10rem;
}

button {
    background-color: light-dark(var(--medium-green), var(--medium-gray));
    color: light-dark(var(--dark-gray), var(--very-light-green));
    border: none;

    border-radius: 10px;
    padding: 10px;

    margin: 10px 0;

    transition: background-color 0.3s;
}

button:hover {
    background-color: light-dark(var(--dark-green), var(--dark-gray));
}

.contact {
    height: 90vh;
}

.contact-icons {
    margin: 2rem 0;
}
