@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  font-family: "FiraCode";
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* LIGHT */
html.light ::-webkit-scrollbar-track {
  background: #fff;
}

html.light ::-webkit-scrollbar-thumb {
  background: #000;
}

html.light ::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* DARK */
html.dark ::-webkit-scrollbar-track {
  background: #000;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #fff;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}
