@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  font-family: "FiraCode";
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222629;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #87c333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2eba18;
}
